*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: $g-base-bg-color;
}

#app {
    height: 100vh;
    overflow: hidden;
    transition: all .7s linear;
}