.wrapper {
    background-color: var(--web-bg-color);
    padding: 30px 50px 0 50px;
    color: var(--web-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    h2 {
        color: green;
        font-family: "Castoro";
        font-size: 32px;
        text-shadow: 0px 0px 3px green;
    }
    hr {
        color: transparent;
        border-bottom: dashed 1px green;
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .wrapper {
        align-items: flex-start;
        padding: 15px;
        overflow-y: scroll;
        h2 {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
}